body {
  background-color: black;
}

div.box {
  width: 200px;
  height: 200px;
  background-color: beige;
  border: 1px solid black;
  border-radius: 3px;
  margin-bottom: 1px;
}

div#special {
  background-color: lightsalmon;
}
