* {
  padding: 0;
  margin: 0;
  cursor: none;
}

body {
  background-color: black;
}

#lineHorizon {
  width: 1px;
  background-color: white;
  height: 100vh;
  margin: 0;
  position: fixed;
}

#lineVertical {
  width: 100vw;
  height: 1px;
  background-color: white;
  position: fixed;
}

#pointer {
  color: white;
  position: fixed;
}

#following {
  width: 80px;
  height: 80px;
  position: fixed;
}
