body {
  background-color: black;
  margin: 0;
}

.line {
  position: absolute;
  background-color: white;
}

.horizon {
  width: 100%;
  height: 1px;
}

.vertical {
  width: 1px;
  height: 100%;
}

.cursor {
  position: absolute;
}

.currentAxis {
  position: absolute;
  font-size: 22px;
  color: white;
}
